<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= t "manager.layout.#{current_page_name}" %></h2>
    <ol class="breadcrumb">
      <li><%= t "manager.layout.#{current_page_name}" %></li>
      <li><b><%= t 'manager.layout.detailed' %></b></li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<%= render 'order' %>
