<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
    <h2> <%= current_page_name %> </h2>
    <ol class="breadcrumb">
      <div class="pull-right">
        <%= link_to "New", new_manager_discount_path, class: "btn btn-large  btn-warning" %>
      </div>
      <li><%= current_page_name %></li>
      <li><b>List</b></li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
</div>
  <div class="discounts-list">
    <%= render 'list' %>
  </div>
</div>
