<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2> <%= current_page_name %> </h2>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Total</span>
          <h5>Products</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"><%= @products_count %></h1>
          <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
          <small>Total count</small>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Total</span>
          <h5>Orders</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins"> <%= @orders_count %> </h1>
          <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
          <small>Total count</small>
        </div>
      </div>
    </div>

  </div>
</div>
