<div class="container">
  <div class="order-headline">
    <h2>Enter personal information</h2>
    <span><%= link_to "Enter your information",new_user_path  %> or <%= link_to "edit the information",edit_users_path %></span>
  </div>
  <%= render "form"%>
</div>
