<div class="container">
  <div class="order-headline">
    <h2>Checkout</h2>
    <span>Please enter required information below</span>
  </div>
  <%= render partial: "form", locals: { order: @order } %>
</div>
