<div class="text-center">
  <br>
  <span><%= t 'orders.create.successful_order' %></span>
</div>
<br><br>
<div class="row text-center">
  <div class="col-xs-12">
    <%= link_to "#{t 'orders.create.back_shopping'}", store_path,  class:"material-button" %>
  </div>
</div>
