<div class="cart-headline text-center">
  <br>
  <span>Your <i class="material-icons md-24">shopping_cart</i> is empty</span>
</div>
<div class="row text-center">
  <div class="col-xs-12">
    <%= link_to "Go back shoping", store_path,  class:"material-button" %>
  </div>
</div>
