<div class="container">

  <div class="cart-headline">
    <h2>Your Cart</h2>
      <span id="line-items-count">
        <%= render 'line_items_count' %>
      </span>
  </div>

  <table class="table", id="cart-table">
    <%= render 'cart_table' %>
  </table>

  <div class="checkout-box">
    <span>
      <strong>Total:
        <div id="cart-total-amount">
          <%= render 'cart_total_amount' %>
        </div>
      <strong>
    </span>
    <%= link_to "Checkout", new_order_path,  class:"material-button" %>
  </div>
</div>
