// GLOBAL FONT
* {
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5
  }
//HEADLINE
.cart-headline{
  height: 64px;
  margin-bottom: 10px;
  h2 {
    margin: 0 0 4px 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  span{
    color: #757575;
    font-size: 1em;
  }
}

//TABLE
.cart-table{
  i{
    color: #757575;
    font-size: 1.5em;
  }
  //MOBILE
  .cart-mobile-image{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .cart-mobile-quantity{
    display: inline-block;
    div{
      padding-left: 10px;
      padding-right: 10px;
      span{
        vertical-align: middle;
      }
    }
  }
  .cart-mobile-title{
    color: #202020;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  //OTHER
  .cart-image{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .cart-quantity{
    div{
      padding-left: 10px;
      padding-right: 10px;
      span{
        vertical-align: middle;
      }
    }
  }
  .cart-delete{
    i{
      padding-left: 7px;
    }
  }
}

.checkout-box{
    margin-top: 10px;
    margin-bottom: 10px;
}

.material-button {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  margin: 0px;
  padding: 8px 44px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  line-height: 1.5;
  &:hover {
   text-decoration: none;
  }
  @media (max-width: 767px) {
    padding: 16px 30%;
  }
}
.cart-container{
  margin-bottom: 30px;
}
