// GLOBAL FONT
* {
    font-family: 'Roboto', 'Noto', sans-serif;
  }
.order-headline {
  margin-top: 64px;
  height: 64px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  h2 {
    margin: 0 0 4px 0;
    font-size: 1.3em;
    font-weight: 500;
  }
  span {
    color: #757575;
    font-size: 0.7em;
  }
}

.order-form {
  display: flex;
  justify-content: center;
}

.order-checkout {
  width: 500px;
  padding: 30px;
  background: transparent;
  p {
    margin-left: 7px;
  }
  .order-submit-button {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}
.order-checkout label {
  font-size: 0.9em;
}
.order-checkout input[type="text"],
.order-checkout input[type="email"],
.order-checkout input[type="tel"],
.order-checkout textarea,
.order-checkout select
{
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 20px;
  height: 45px;
}
.order-checkout textarea {
  resize:none;
  overflow: hidden;
}
