@mixin max-width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

.category-headline {
  height: auto;
  text-align: center;
}

.category-headline  h2 {
  height: 25px;
  margin-top: 32px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.category-headline span{
  color: #757575;
  font-size: 12px;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.products {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.products > a:hover {
 text-decoration: none;
}

.product-basic {
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
  margin: 48 0;
  text-align: center;
  font-family: 'Roboto', 'Noto', sans-serif;
}
.product-image img{
  object-fit: cover;
  height: 250px;
  width: 250px;
}
.product-basic-title{
  color: #202020;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.product-basic-price{
  color: #757575;
  font-size: 12px;
}

.product-detailed{
  margin: 0 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-detailed-images{
  margin-top: 64px;
  flex: 1;
}
.carousel{
  max-width: 400px;
}
.product-detailed-details{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 64px 32px;
}
.product-detailed-details h1{
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.product-detailed-details span{
  font-size: 16px;
  color: #757575;
  margin: 16px 0 40px;
}

.product-detailed-details h2{
  margin: 16px 0;
  font-size: 13px;

}
.product-detailed-details p{
  margin: 0;
  color: #757575;
  font-size: 13px;
}

.product-detailed-description{
  margin: 32px 0;
}
.material-select{
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 20px;
  font: 16px 'Roboto', 'Noto', sans-serif;
  height: 45px;
}
