// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  height: 64px;
  padding: 0 16px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}

.app-toolbar {
  height: 64px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.items-toolbar {
  height: 66px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}


.store-logo{
  text-transform: uppercase;
  text-align: center;
  padding-left: 52px;
  flex: 1;
}

.cart-logo{
  margin: 0;
  padding: 8px;
  flex-basis: 40px;

}

.store-logo a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: #202020;
  text-decoration: none;
  font-family: 'Roboto', 'Noto', sans-serif;

}
.cart-logo i {
  font-size: 20px;
  color: #202020;
}
.cart-logo a{
  border: none;
}
.toolbar-item{
  margin: 0 10px;
}
.toolbar-item a{
  font-size: 13px;
  font-weight: 500;
  color: #202020;
  font-family: 'Roboto', 'Noto', sans-serif;
  text-decoration: none;
  padding: 9px 5px;
  border: none;
}
.category-item {
  height: auto;
  padding-bottom: 23px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.category-item h2 {
  height: 25px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Roboto', 'Noto', sans-serif;
}
.category-button {
}
.material-button {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  margin: 0px;
  padding: 8px 44px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  line-height: 1.5;
}

.cart-badge {
    position: absolute;
    top: 9px;
    right: 24px;
    width: 20px;
    height: 20px;
    background-color: #172C50;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    pointer-events: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
