<div class="app-toolbar hidden-xs">
  <%= content_tag :ul, class: "material-tabs" do %>
    <% @categories.each do |category| %>
      <%= content_tag :li, class: "#{ category == @current_category ? 'active' : '' }" do  %>
        <%= link_to category.title, category_products_path(category: category.slug.parameterize.underscore ) %>
      <% end %>
    <% end  %>
  <% end %>
</div>
