<div class="navbar">
  <div class="items-toolbar">
    <% @categories.each do |category| %>
      <div class="toolbar-item">
        <%= link_to category.title.pluralize(2) , category_products_path(category: category.title.downcase ), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
