<div class="app-toolbar hidden-xs">
  <ul class="material-tabs">
    <% @categories.each do |category| %>
      <%= content_tag :li, class: "#{ category == @current_category ? 'active' : '' }" do  %>
        <%= link_to category.title, category_products_path(category: category.slug ) %>
      <% end %>
    <% end  %>
  </ul>
</div>
