<div class="app-toolbar hidden-xs">
  <%= content_tag :ul, class: "nav nav-tabs" do %>
    <% @categories.each do |category| %>
      <%= content_tag :li, role: "presentation", class: "#{ category == @current_category ? 'active' : '' }" do  %>
        <%= link_to category.title.pluralize(2) , category_products_path(category: category.title.parameterize.underscore ) %>
      <% end %>
    <% end  %>
  <% end %>
</div>
