<div class="app-toolbar hidden-xs">
  <ul class="material-tabs">
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.title.pluralize(2) , category_products_path(category: category.title.parameterize.underscore ) %>
      </li>
    <% end  %>
  </ul>
</div>
