<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h2>Contact us</h2>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <br>
      <address>
        <strong><span class="navy">Ari Dar Lingerie</span></strong><br/>
        <abbr title="Phone"></abbr> +380 (123) 456 78 90
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <br>
      <a href="mailto:test@email.com" class="material-button">Send us mail</a>
        <br><br>
        <p>Or follow us on social platform</p>
        <ul class="list-inline social-icon">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
  </div>
</section>
