<div class="category-item">
  <%= image_tag "categories/mens_outerwear.jpg", class: "category-image" %>
    <h2> Men's Outerwear </h2>
  <div class="category-button">
    <%= link_to "Shop now", products_path, class:"material-button" %>
  </div>
</div>

<div class="category-item">
  <%= image_tag "categories/ladies_outerwear.jpg", class: "category-image" %>
    <h2> Ladie's Outerwear </h2>
  <div class="category-button">
    <%= link_to "Shop now", products_path, class:"material-button" %>
  </div>
</div>
