<% Product.categories.each do |key,value|  %>

  <div class="category-item">
    <%= image_tag "categories/#{key}.jpg", class: "category-image" %>
      <h2> <%= key.pluralize(2).capitalize %> </h2>
    <div class="category-button">
      <%= link_to "Shop now", products_path(category: key), class:"material-button" %>
    </div>
  </div>
<% end %>
