<%= link_to cart_path do %>
  <i class="material-icons md-24 pull-right">shopping_cart</i>
  <% if @cart_line_items_quantity.present? %>
    <div class="cart-badge" id="cart-badge">
      <%= @cart_line_items_quantity %>
    </div>
  <% end %>
<% end  %>
