<header class="navbar">
  <div class="app-toolbar">
    <div class="store-logo">
      <%= link_to t("application_name"), store_path %>
    </div>
  <div class="cart-logo">
    <%= render "layouts/cart_logo" %>
  </div>
</header>
