<header class="navbar">
  <div class="app-toolbar">
    <div class="store-logo">
      <%= link_to t("application_name"), store_path %>
    </div>
    <div class="cart-logo">
      <%= link_to store_path, class:"btn btn-default" do %>
        <i class="glyphicon glyphicon-shopping-cart"></i>
      <% end  %>
    </div>
  </div>

  <div class="items-toolbar">
    <% @categories.each do |category| %>
      <div class="toolbar-item">
        <%= link_to category.title , products_path(category: category.id ), class: "btn btn-default" %>
      </div>
    <% end  %>
  </div>
</header>
